:root {
    --background: #f9efdc;
    --alt: #454545;
    --altcolourpair: #E9CB86;
    --maincolourpair: #8a6819;
}

html {
    scroll-behavior: smooth;
    min-height: 900vh;
}

body {
    margin: 0;
    background: var(--background);
}

* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}


/* navigation bar */
.navbar {
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 5%;
    background-color: rgba(69, 69, 69, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .logo {
    font-size: 1.3rem;
    font-weight: 500;
    color: #cb5252;
    margin-bottom: 0.4rem;
    margin-right: auto;

    img {
        height: 40px;
        cursor: pointer;
    }
}

.navbar .navbar-nav {
    margin-right: auto;
    margin-left: 3rem;
}

.navbar .navbar-nav a {
    color: var(--altcolourpair);
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.navbar .navbar-nav a:hover {
    color: var(--background);
}

/* general */
.container {
    margin: 8rem 7rem;
}

.content {
    padding: 16px;
}

span {
    color: #be9023;
}

h1,
h2,
p {
    color: var(--maincolourpair);
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 28px;
}


/* landing page */

#home {
    padding: 3rem;
}

.landing-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /* for responsiveness on smaller screens */
    flex-wrap: wrap;
}

.landing-text {
    flex: 1;
    min-width: 250px;
}

.profile-image img {
    border-radius: 50%;
    height: auto;
    width: 250px;
    max-width: 100%;
}

.land-button {
    background-color: var(--alt);
    border: none;
    color: var(--altcolourpair);
    padding: 14px 20px;
    border-radius: 20px;
    margin-top: 18px;
    cursor: pointer;
    font-size: medium;
}












