:root {
    --background: #f9efdc;
    --alt: #454545;
    --altcolourpair: #E9CB86;
    --maincolourpair: #8a6819;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: var(--background);
}

* {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}


/* navigation bar */
.navbar {
    display: flex;
    backdrop-filter: blur(10px);
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 5%;
    background-color: rgba(69, 69, 69, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .logo {
    font-size: 1.3rem;
    font-weight: 500;
    color: #cb5252;
    margin-bottom: 0.4rem;
    margin-right: auto;

    img {
        height: 40px;
        cursor: pointer;
    }
}

.navbar .navbar-nav {
    margin-right: auto;
    margin-left: 3rem;
}

.navbar .navbar-nav a {
    color: var(--altcolourpair);
    display: inline-block;
    font-size: 1.5rem;
    margin-right: 3rem;
}

.navbar .navbar-nav a:hover {
    color: var(--background);
}

/* general */
.container {
    margin: 8rem 7rem;
}

.content {
    padding: 16px;
}

span {
    color: #be9023;
}

h1,
h2,
h3,
h4,
p,
li {
    color: var(--maincolourpair);
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 26px;
}

p {
    font-size: 25px;
}

#home,
#about,
#current-stuff,
#experience,
#contact {
    padding: 3rem;
}

/* landing page */


.landing-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    /* for responsiveness on smaller screens */
    flex-wrap: wrap;
}

.landing-text {
    flex: 1;
    min-width: 250px;
}

.landing-content,
.short-about {
    margin-top: 10px;
    margin-bottom: 20px;
}

.profile-image img {
    border-radius: 50%;
    height: auto;
    width: 250px;
    max-width: 100%;
}

.about-picture img {
    border-radius: 30%;
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.land-button, input[type=submit] {
    background-color: var(--alt);
    border: none;
    color: var(--altcolourpair);
    padding: 14px 20px;
    border-radius: 20px;
    margin-top: 18px;
    cursor: pointer;
    font-size: medium;
}

.short-about {
    margin-bottom: 10px;
}

.about-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.about-content-text {
    flex: 1;
}

.about-content-text p {
    margin-bottom: 20px;
}



#current-stuff {
    display: flex;
    gap: 18rem;
    justify-content: center;
    margin-left: 7rem;
    margin-right: 12rem;
}

.currently-learning-list,
.current-tools {
    flex: 1;
    padding: 10px;
}

.currently-learning-list li,
.current-tools li {
    font-size: 24px;
}



.experience-card {
    margin: 2rem 2rem;
}

.experience-title {
    display: flex;
    gap: 2rem;
}

.experience-title h3 a {
    color: #be9023;
}










/* contact form */
.contact-form {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;

    font-family: "Quicksand", sans-serif;
    font-size: 24px;
    color: var(--maincolourpair);
}

input[type=text],
input[type=email] {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}


textarea {
    resize: none;
    width: 95%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}



footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--alt);
    color: var(--altcolourpair);
    font-size: 18px;
    text-align: center;
    padding: 5px;
}